Repository debionetwork/debio-backend, pull requests merged in 2022-04, with the labels that each got.

#304 tests: countries and wallet binding integration tests
  test/e2e/elasticsearch-fixture.ts
  test/e2e/endpoints/category/emr.spec.ts
  test/e2e/endpoints/category/service.spec.ts
  test/e2e/endpoints/category/specialization.spec.ts
  test/e2e/endpoints/substrate-endpoint.spec.ts
  test/e2e/fixture.ts
  test/e2e/setup.ts
  test/e2e/substrate-fixture.ts
Labels: improvement, test

#305 tests: temporarily remove failing e2e tests
  test/e2e/endpoints/category/emr.spec
  test/e2e/endpoints/category/service.spec
  test/e2e/endpoints/category/specialization.spec
  test/e2e/endpoints/verification.spec.ts
  test/e2e/schedulers/mailer.spec.ts
  test/e2e/substrate-fixture.ts
Labels: test

#306 tests: fix failing integration tests
  test/e2e/endpoints/verification.spec.ts
Labels: fix, test

#307 ci: integration tester automation
  .github/workflows/it.yml
Labels: ci, test

#311 refactor: health check controller
  src/endpoints/health/health.controller.ts
  test/unit/endpoints/health/health.controller.spec.ts
Labels: fix, improvement, test

#312 tests: add more logging and fix formatting
  package.json
  src/common/modules/substrate/substrate.service.ts
  src/endpoints/substrate-endpoint/substrate-endpoint.controller.ts
  src/endpoints/verification/verification.service.ts
  test/e2e/endpoints/health.spec.ts
  test/e2e/schedulers/mailer.spec.ts
  test/e2e/setup.ts
  test/e2e/teardown.ts
  test/unit/endpoints/substrate-endpoint/substrate-endpoint.controller.spec.ts
  test/unit/endpoints/verification/verification.service.spec.ts
Labels: ci, improvement, test

#313 tests: add timer integration tests
  test/e2e/endpoints/bounty.spec.ts
  test/e2e/endpoints/cloud-storage.spec.ts
  test/e2e/endpoints/health.spec.ts
  test/e2e/endpoints/location.spec.ts
  test/e2e/endpoints/rating.spec.ts
  test/e2e/endpoints/recaptcha.spec.ts
  test/e2e/endpoints/verification.spec.ts
Labels: ci, test

#314 tests: fix verification integration tests
  package.json
  src/common/modules/substrate/substrate.service.ts
  src/endpoints/verification/verification.service.ts
  test/e2e/endpoints/verification.spec.ts
  test/e2e/substrate-fixture.ts
  test/unit/@polkadot-api.mock.ts.ts
  test/unit/common/modules/substrate/substrate.service.spec.ts
  test/unit/endpoints/verification/verification.service.spec.ts
Labels: fix, ci, test

#319 fix pipeline
  .github/workflows/builder.yml
  .github/workflows/manual-it.yml
Labels: ci

#320 ci: improve integration testing pipeline
  .github/workflows/deploy.yml
  .github/workflows/it.yml
  .github/workflows/tester.yml
Labels: ci

#323 feat: pinata jwt authentication module
  .github/workflows/tester.yml
  package-lock.json
  package.json
  src/endpoints/authentication/authentication.controller.ts
  src/endpoints/authentication/authentication.module.ts
  src/endpoints/authentication/pinata-jwt.model.ts
  src/endpoints/transaction/transaction.module.ts
  test/e2e/elasticsearch-fixture.ts
  test/e2e/endpoints/authentication.spec.ts
  test/e2e/schedulers/unstaked.spec
  test/unit/endpoints/authentication/authentication.controller.spec.ts
Labels: feature, test

#332 ci: add integration testing & new env
  .github/workflows/builder.yml
  .github/workflows/deploy.yml
Labels: ci

#330 tests: unstaked service integration testing
  package.json
  src/common/modules/substrate/substrate.service.ts
  src/endpoints/substrate-endpoint/substrate-endpoint.controller.ts
  test/e2e/elasticsearch-fixture.ts
  test/e2e/schedulers/unstaked.spec
  test/e2e/schedulers/unstaked.spec.ts
  test/e2e/substrate-fixture.ts
Labels: test

#322 feat: genetic analyst unstake and unit test
  src/schedulers/genetic-analyst-unstaked/unstaked.service.ts
  test/unit/schedulers/genetic-analyst-unstaked/genetic-analyst-unstaked.service.spec.ts
  test/unit/schedulers/unstaked/unstaked.service.spec.ts
Labels: feature, improvement, test

#331 feat: enhance substrate orders detail by hash
  package-lock.json
  package.json
  src/endpoints/substrate-endpoint/services/genetic-analysis-order.service.ts
  src/endpoints/substrate-endpoint/services/order.service.ts
  src/endpoints/substrate-endpoint/substrate-endpoint.controller.ts
  src/endpoints/verification/verification.service.ts
  src/listeners/substrate-listener/commands/orders/order-failed/order-failed.handler.ts
  src/schedulers/genetic-analyst-unstaked/unstaked.service.ts
  test/e2e/elasticsearch-fixture.ts
  test/unit/endpoints/substrate-endpoint/services/genetic-analysis-order-service.spec.ts
  test/unit/endpoints/substrate-endpoint/services/order.service.spec.ts
  test/unit/endpoints/substrate-endpoint/substrate-endpoint.controller.spec.ts
  test/unit/schedulers/genetic-analyst-unstaked/genetic-analyst-unstaked.service.spec.ts
Labels: feature, improvement, test

#333 tests: integration test substrate genetic analysis order paid endpoint
  package.json
  test/e2e/endpoints/substrate-endpoint.spec.ts
  test/e2e/substrate-fixture.ts
Labels: test

#335 test: email controller integration test
  test/e2e/endpoints/email.spec.ts
Labels: test

#338 feat: insert customer order notifications
  package-lock.json
  src/endpoints/notification/notification.module.ts
  src/endpoints/notification/notification.service.ts
  src/listeners/substrate-listener/commands/orders/order-created/order-created.handler.ts
  src/listeners/substrate-listener/commands/orders/order-fulfilled/order-fulfilled.handler.ts
  src/listeners/substrate-listener/commands/service-request/service-request-created/service-request-created.handler.ts
  src/listeners/substrate-listener/commands/service-request/service-request-unstaked/service-request-unstaked.handler.ts
  src/listeners/substrate-listener/substrate-listener.module.ts
  test/unit/listeners/substrate-listener/commands/orders/order-created/order-created.handler.spec.ts
  test/unit/listeners/substrate-listener/commands/orders/order-fulfilled/order-fulfilled.handler.spec.ts
  test/unit/listeners/substrate-listener/commands/service-request/service-request-created/service-request-created.handler.spec.ts
  test/unit/listeners/substrate-listener/commands/service-request/service-request-unstaked/service-request-unstaked.handler.spec.ts
  test/unit/mock.ts
Labels: fix, improvement

#340 [DBIO-2437] feat: Notification wallet binding
  src/endpoints/notification/models/notification.entity.ts
  src/endpoints/substrate-endpoint/substrate-endpoint.controller.ts
  src/endpoints/substrate-endpoint/substrate-endpoint.module.ts
  test/e2e/endpoints/substrate-endpoint.spec.ts
  test/e2e/fixture.ts
  test/unit/endpoints/substrate-endpoint/substrate-endpoint.controller.spec.ts
Labels: feature, improvement, test
